<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Crypto api test</h1>
        </div>
    </div>
    <hr>
    <div class="currency-list">
        <div class="row" *ngFor="let currency of currencies">
            <div class="col-12 col-md-2 currency-ticker">
                {{ currency.symbol }}
            </div>
            <div class="col-12 col-md-6 currency-address">
                {{ currency.address }}
            </div>
            <div class="col-12 col-md-4">
                {{ currency.balance || 'loading' }}
            </div>
        </div>
    </div>
</div>
